{
	"folders": [
		{
			"path": "."
		},
	],
	"settings": {
		"python.defaultInterpreterPath": "~/.pyenv/versions/odoo{{major_version}}/bin/python"
		"python.analysis.extraPaths": [
			"./src/odoo"
		],
		"editor.defaultFormatter": "dbaeumer.vscode-eslint"
	},
	"launch": {
		"version" : "0.2.0",
		"configurations": [
			{
				"name": "Odoo: Run",
				"type": "python",
				"request": "launch",
				"program": "./src/odoo/odoo-bin",
				"args": ["-c", "./odoo.conf"],
				"console": "integratedTerminal"
			}
		]
	}
}
