{
	"folders": [
		{
			"path": "."
		},
		{
			"path": "src/odoo"
		},
		{
			"path": "src/enterprise"
		},
		{
			"path": "src/user"
		}
	],
	"settings": {
		"python.defaultInterpreterPath": "~/.pyenv/versions/odoo{{major_version}}/bin/python"
	},
	"launch": {
		"version" : "0.2.0",
		"configurations": [
			{
				"name": "Odoo: Run",
				"cwd": "${workspaceFolder:{{project_name}}}",
				"type": "python",
				"request": "launch",
				"program": "${workspaceFolder:{{project_name}}}/src/odoo/odoo-bin",
				"args": ["-c", "${workspaceFolder:{{project_name}}}/odoo.conf"],
				"console": "integratedTerminal"
			}
		]
	}
}
